{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load static %}
{% load allauth i18n %}
{% block content %}
{% url 'account_logout' as action_url %}
<link rel="stylesheet" href="{% static 'assets/css/loader.css' %}">
<main>
<div class="container d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="loader d-flex justify-content-center align-content-center"></div>
    <div class="col-md-4 text-center">
        <form id="logoutForm" action="{{action_url}}" method="post">
            {% csrf_token %}
        </form>
    </div>
</div>
</main>
<script>
    // Redirect to login page after 5 seconds
    setTimeout(function() {
        document.getElementById('logoutForm').submit();
    }, 3000); // 5000 milliseconds = 5 seconds
</script>
{% endblock %}