{% extends 'partial/base.html' %}
{% load static %}
{% block page %}
    <main class="main pages">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow"><i class="fi-rs-home mr-5"></i>Home</a>
                    <span></span> Pages <span></span> Terms of Service
                </div>
            </div>
        </div>
        <div class="page-content pt-50">
            <div class="container">
                <div class="row">
                    <div class="col-xl-10 col-lg-12 m-auto">
                        <div class="row">
                            <div class="col-lg-9">
                                <div class="single-page pr-30 mb-lg-0 mb-sm-5">
                                    <div class="single-header style-2">
                                        <h2>Terms of Service</h2>
                                    </div>
                                    <div class="single-content mb-50">
                                        <p>Welcome to Saints Online Shop, your trusted ecommerce platform for St. Clare College of Caloocan! To ensure a smooth and secure shopping experience, we’ve outlined the rights and restrictions associated with using our platform. Please read this policy 
                                            carefully to understand your rights and responsibilities as a user of our website.</p>
                                        <p>Please read these Terms of Service (“Terms”, “Terms of Service”) carefully before using this website (the “Service”) operated by St. Clare College Student (“us”, “we”, or “our”).</p>
                                        <p>Your access to and use of the Service is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service.</p>
                                        <p>By accessing or using the Service you agree to be bound by these Terms. If you disagree with any part of the terms then you may not access the Service.</p>
                                        
                                        <h4>Rights & restrictions</h4>
                                        <ol>
                                            <li>Members must be at least 18 years of age.</li>
                                            <li>All students, faculty members, parents, and teachers of St. Clare College of Caloocan have the right to access the platform, browse products, and make purchases according to the terms set forth in this policy.</li>
                                            <li>Users have the right to register for an account, track orders, and manage personal information through their accounts.</li>
                                            <li>We value your privacy and are committed to safeguarding your personal data. You have the right to control your personal information 
                                                by editing or Contact us to delete your data</li>
                                            <li>All transactions are processed securely, and we do not share your data with third 
                                                parties unless required for fulfilling your order (e.g., shipping companies or payment processors).</li>
                                            <li>Users have the right to request returns or refunds in accordance with our Return and Exchange Policy. 
                                                You can request a return or exchange for products that meet the eligibility criteria set by our policies.</li>
                                            <li>Users have the right to contact customer support for any issues related to their orders, account management, or other inquiries. 
                                                Support is available through our helpdesk via Contact Us button on the website</li>
                                        </ol>

                                        <h4>Links To Other Web Sites</h4>
                                        <p>Our Service may contain links to third-party web sites or services that are not owned or controlled by Saint's Online Shop.</p>
                                        <p>We strongly advise you to read the terms and conditions and privacy policies of any third-party web sites or services that you visit.</p>

                                        <h4>Restrictions for Users</h4>
                                        <p>Users must be students, faculty members, parents, or teachers of St. Clare College of Caloocan to access and make purchases on Saints Online Shop. 
                                            Accounts should reflect accurate and truthful information.</p>

                                        <h4>Termination</h4>
                                        <p>Account sharing or attempting to create multiple accounts for fraudulent purposes is prohibited.</p>
                                        <p>You are responsible for maintaining the confidentiality of your account details, including your password. Any activity 
                                           conducted under your account is your responsibility.</p>
                                        <p>We may terminate or suspend access to our Service immediately, without prior notice or liability, for any reason whatsoever, including without limitation if you breach the Terms.</p>
                                        

                                        <h4>Governing Law</h4>
                                        <p>At Saints Online Shop, we are committed to providing a secure, transparent, and reliable online shopping experience for all our users, including students, faculty members, parents, and teachers of St. Clare College of Caloocan. 
                                            To ensure compliance with Philippine laws, our ecommerce platform is governed by the following laws and regulations:</p>
                                        <ol>
                                            <li><p>E-Commerce Act of 2000 (Republic Act No. 8792)</p></li>
                                            <ol>
                                                <li>The E-Commerce Act serves as the foundation for online transactions and digital commerce in the Philippines. It provides the legal framework for:</li>
                                                <ol>
                                                    <li>Electronic Documents & Signatures: The Act gives legal recognition to electronic transactions, contracts, and documents.</li>
                                                    <li>Consumer Protection: Ensures that consumers are protected when engaging in online transactions, including clear 
                                                        disclosures of product information, pricing, and transaction terms.</li>
                                                    <li>Cybersecurity: Requires businesses to adopt measures to secure online transactions and protect the data of users.</li>
                                                </ol>
                                            </ol>
                                            <li><p>Data Privacy Act of 2012 (Republic Act No. 10173)</p></li>
                                            <ol>
                                                <li>The Data Privacy Act ensures the protection of personal data collected during ecommerce transactions. Saints Online Shop is committed to the 
                                                    confidentiality and security of user data, including:</li>
                                                    <ol>
                                                        <li>Personal Data Protection: We implement measures to protect personal information such as names, 
                                                            addresses, contact details, and payment data.</li>
                                                        <li>Data Collection and Consent: We obtain consent before collecting any personal data and provide users with the right to access, 
                                                            correct, or delete their information.</li>
                                                        <li>Security Standards: We comply with industry-standard security practices to prevent unauthorized access, alteration, or misuse of personal data.</li>
                                                    </ol>
                                            </ol>
                                            <li><p>Consumer Protection Act (Republic Act No. 7394)</p></li>
                                            <ol>
                                                <li>The Consumer Protection Act safeguards the rights of consumers in the Philippines. At Saints Online Shop, we are committed to upholding the following:</li>
                                                <ol>
                                                    <li>Product Transparency: We provide clear and accurate information about the products, including descriptions, prices, availability, and terms of sale.</li>
                                                    <li>Fair Advertising: We adhere to the law by ensuring that all promotional materials and advertisements on our website are truthful and not misleading.</li>
                                                    <li>Right to Return: We comply with the rights of consumers to return or exchange defective products in accordance with our Return and Exchange Policy.</li>
                                                </ol>
                                            </ol>
                                            <li><p>Cybercrime Prevention Act of 2012 (Republic Act No. 10175)</p></li>
                                            <ol>
                                                <li>The Cybercrime Prevention Act addresses various online crimes, including fraud, hacking, and identity theft. Saints Online Shop complies with this Act by:</li>
                                                <ol>
                                                    <li>Preventing Fraudulent Activities: We actively monitor for any fraudulent activity, including phishing scams, 
                                                        fraudulent transactions, and unauthorized access attempts.</li>
                                                    <li>Securing Payment Transactions: We ensure that all online payment systems are protected from cyber threats through secure encryption and compliance with payment security standards.</li>
                                                </ol>
                                            </ol>
                                        </ol>
                                            
                                        <h4>Thank you for choosing Saints Online Shop</h4>
                                        <p>We value your trust and strive to provide a safe, secure, and legally compliant shopping experience. If you have any questions about the governing laws or need further clarification, please don’t hesitate to reach out to our customer service team.</p>
                                        <h4>Contact Us</h4>
                                        <p>If you have any questions about these Terms, please <a href="{% url 'core:contact' %}">contact us</a>.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 primary-sidebar sticky-sidebar">
                                <div class="widget-area">
                                    <div class="sidebar-widget-2 widget_search mb-50">
                                        <div class="search-form">
                                            <form action="{% url 'core:search' %}" method="GET">
                                                <input type="text" placeholder="Search for items..." name="q" />
                                                <button class="material-symbols-outlined" type="submit"><span class="material-symbols-outlined">search</span></button>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="sidebar-widget widget-category-2 mb-30">
                                        <h5 class="section-title style-1 mb-30">Category</h5>
                                        <ul>
                                            {% for c in categories %}
                                            <li>
                                                <a href="{% url 'core:category-product-list' c.cid %}"> <img src="{{ c.image.url }}" alt="" style="width: 30px; height: 30px; object-fit: cover; border-radius: 10px;" />{{c.title}}</a><span class="count">{{c.product_count}}</span>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock page %}
